<div>
    <ul class="nav justify-content-end navbar-dark bg-dark">
        <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="contacts">CONTACTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="https://coronavirusrd.gob.do/cuales-son-los-sintomas-del-coronavirus-covid-19/">LINK</a>
        </li>
    </ul>
</div>
