<div>
    <ul class="nav justify-content-end navbar-dark bg-dark p-1">
        <img class="hamberguer" src="/public/images/hamberguer.svg" alt=""/>
        <div class="style-h d-flex">
            <li class="nav-item">
                <a class="nav-link active text-white style-h-item" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white style-h-item" href="contacts">CONTACTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white style-h-item" href="https://coronavirusrd.gob.do/cuales-son-los-sintomas-del-coronavirus-covid-19/">LINK</a>
            </li>
            <span class="btn btn-outline-danger style-h-item style-h-close">X</span>
        </div>
    </ul>
</div>
