<%-include('template/headers', {titlePage:' '})%>
<%-include('nav_search');%>
<div class="container color">
    <div class="target ">
        <!-- <span class="fw-bolder">City</span> -->
        <ul class="info">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>