<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('template/head_import', {titlePage:'Contacts'});%>
</head>
<body>
    <%-include('components/navbar');%>
    <div class="align-items-center text-dark card-body card card-body" style="background-color: darkgray;">
        <ul>
            <li>¿Necesitas orientación sobre el Coronavirus COVID-19?
                Llama al *462, linea libre de cargos y disponible las 24 horas.</li>
            <li>Ministerio de Salud Pública
                Dirección: Av. Dr. Héctor Homero Hérnandez, Esq. Av. Tiradentes, Ens. La Fe Santo Domingo, R.D.
                Tel.: (809) 541-3121
                Email: Info@ministeriodesalud.gob.do</li>
            <li>Dirección General de Epidemiología
            <li>Dirección: Calle Santo Tomas de Aquino #1, Casi Esq. Correa y Cidrón, Ciudad Universitaria, Distrito Nacional.
                Tels: (809) 686-7347 | sin cargos (809) 200-4091
                Fax: (809) 689-8395</li>
        </ul>
    </div>
</body>
</html>
