<%-include('template/headers', {titlePage:'Home'});%>
<%-include('head_help');%>
    <div class="image">
        <div class="d-flex offset-md-1">
            <h1 class="text-white fw-bolder d-flex flex-wrap"><%=titulo%></h1>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-primary" type="button">Button</button>
        </div> 
    </div>
</body>
