<%-include('template/headers', {titlePage:'Home'});%>
<%-include('head_help');%>
    <div class="image"></div>
    <div class="section-center d-flex flex-column">
        <div style="width:310px;">
            <h1 class="text-white fw-bolder text-center w-200">
                <%=titulo%>
            </h1>
            <div class="w-100">
                <a href="card_info" class="btn btn-primary btn1">Get more information</a>
            </div>
        </div>
    </div>
</body>
